
.page {

    &__title {
        padding: 40px 0 0;
        text-align: center;

        @media screen and (max-width: 767px) {
            padding: 20px 0 0;
        }
    }

    &_disable-scroll {
        overflow: hidden;
    }
}